
<div class="form-row mb-3">
    <div class="form-group col-md-5">
        <div class="input-group-prepend">
            <select class="form-control text-white btn w-50" id="select_base">
               <option selected value="EPIC">EPIC</option>
            </select>
            <input type="number" id="input_base" class="text-white form-control mx-2"
                    placeholder="Amount">
        </div>
    </div>

    <div class="form-group col-md-2 text-center h3">
        <div class="horizontal hidden-xs hidden-sm">
            <i class="mdi mdi-arrow-left mx-1"></i>
            <i class=" mx-1 mdi mdi-arrow-right"></i>
        </div>

        <div class="vertical d-block d-md-none">
            <i class="mdi mdi-arrow-up mx-1"></i>
            <i class=" mx-1 mdi mdi-arrow-down"></i>
        </div>
    </div>

    <div class="form-group col-md-5">
        <div class="input-group-append">
            <input type="number" id="input_currency" class="text-white form-control mx-2"
                    placeholder="Amount">
            <select class="form-control text-white btn btn w-50" id="select_currency">
                <option selected value="USD">USD</option>
                {% for c in currency_list %}
                    <option value="{{c}}">{{c}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>

<script>

    function update_base () {
        currency = $('#select_currency').val(),
        base = $('#select_base').val(),
        $.ajax({
            type: "GET",
            url: '{% url "home_currency" %}?currency=' + currency,
            data : {
                 currency:currency,
                 base:base,
                },
                success:function(data) {
                    console.log(data);
                    var amount = $('#input_base').val();
                    price = (amount * data.value).toFixed(2);
                    $('#input_currency').val(price);
                },
        });
    };

    function update_currency () {
        currency = $('#select_currency').val(),
        base = $('#select_base').val(),
        $.ajax({
            type: "GET",
            url: '{% url "home_currency" %}?currency=' + currency,
            data : {
                 currency:currency,
                 base:base,
                },
                success:function(data) {
                    console.log(data);
                    var amount = $('#input_currency').val();
                    price = (amount / data.value).toFixed(2);
                    $('#input_base').val(price);
                },
        });
    };

    $('#select_currency').on('change', function() {
        currency = $(this).val()
        update_currency()
        console.log(currency)
    });

    $('#select_base').on('change', function() {
        base = $(this).val()
        update_base()
        console.log(base)
    });

    $('#input_currency').keyup(function () {
        update_currency()
    });

    $('#input_base').keyup(function () {
        update_base()
    });
</script>