


<h4 class="card-title">Line chart</h4>
<canvas id="lineChart" style="max-height: 300px"></canvas>


<script>
  $(function () {
       $.ajax({
            type:'GET',
            url:'{% url "price_chart" %}',
            success:function(r) {
                'use strict';
                console.log(r.time);
                var data = {
                    labels: r.time,
                    datasets: [{
                      label: '# of Votes',
                      data: r.price,
                      backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                      ],
                      borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                      ],
                      borderWidth: 1,
                      fill: false
                    }]
                  };
                  var multiLineData = {
                    labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
                    datasets: [{
                        label: 'Dataset 1',
                        data: [12, 19, 3, 5, 2, 3],
                        borderColor: [
                          '#587ce4'
                        ],
                        borderWidth: 2,
                        fill: false
                      },
                      {
                        label: 'Dataset 2',
                        data: [5, 23, 7, 12, 42, 23],
                        borderColor: [
                          '#ede190'
                        ],
                        borderWidth: 2,
                        fill: false
                      },
                      {
                        label: 'Dataset 3',
                        data: [15, 10, 21, 32, 12, 33],
                        borderColor: [
                          '#f44252'
                        ],
                        borderWidth: 2,
                        fill: false
                      }
                    ]
                  };
                  var options = {
                    scales: {
                      yAxes: [{
                        ticks: {
                          beginAtZero: true
                        },
                        gridLines: {
                          color: "rgba(204, 204, 204,0.1)"
                        }
                      }],
                      xAxes: [{
                        gridLines: {
                          color: "rgba(204, 204, 204,0.1)"
                        }
                      }]
                    },
                    legend: {
                      display: false
                    },
                    elements: {
                      point: {
                        radius: 0
                      }
                    }
                  };

                  if ($("#lineChart").length) {
                    var lineChartCanvas = $("#lineChart").get(0).getContext("2d");
                    var lineChart = new Chart(lineChartCanvas, {
                      type: 'line',
                      data: data,
                      options: options
                    });
                  }

                  if ($("#linechart-multi").length) {
                    var multiLineCanvas = $("#linechart-multi").get(0).getContext("2d");
                    var lineChart = new Chart(multiLineCanvas, {
                      type: 'line',
                      data: data,
                      options: options
                    });
                  }
            }
         })});
</script>
